<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.sberdevices.common.camera">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name="ru.sberdevices.common.camera.TestActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>
</manifest>
